<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="border-bottom: 3px solid #dddddd">
  <div class="container">
    <img src="/images/logo.png" style="max-height: 150px;"/>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center"><%= I18n.t("tag_line") %></h1>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center"><%= I18n.t(:name, scope: [:packages, :bronze]) %></h2>
      <h3 class="text-center">"<%= I18n.t(:description, scope: [:packages, :bronze]) %>"</h3>
      <div class="product-image"><img src="/images/bronze.png" width="100%" /></div>
      <form action='/purchase' method='post' class="form">
        <input type="hidden" name="package" value="bronze"/>
        <input type="submit" class="btn btn-default btn-lg btn-block" href="#" role="button" value="<%= I18n.t(:rent_for, amount: @prices[:bronze]) %>" />
      </form>
    </div>
    <div class="col-md-4">
      <h2 class="text-center"><%= I18n.t(:name, scope: [:packages, :silver]) %></h2>
      <h3 class="text-center">"<%= I18n.t(:description, scope: [:packages, :silver]) %>"</h3>
      <div class="product-image"><img src="/images/silver.png" width="100%" /></div>
      <form action='/purchase' method='post' class="form">
        <input type="hidden" name="package" value="silver"/>
        <input type="submit" class="btn btn-default btn-lg btn-block" href="#" role="button" value="<%= I18n.t(:rent_for, amount: @prices[:silver]) %>" />
      </form>
    </div>
    <div class="col-md-4">
      <h2 class="text-center"><%= I18n.t(:name, scope: [:packages, :gold]) %></h2>
      <h3 class="text-center">"<%= I18n.t(:description, scope: [:packages, :gold]) %>"</h3>
      <div class="product-image"><img src="/images/gold.png" width="100%" /></div>
      <form action='/purchase' method='post' class="form">
        <input type="hidden" name="package" value="gold"/>
        <input type="submit" class="btn btn-default btn-lg btn-block" href="#" role="button" value="<%= I18n.t(:rent_for, amount: @prices[:gold]) %>" />
      </form>
    </div>
  </div>
  <hr/>
  <footer>
    <center>
      <%= I18n.t(:made_with) %> <a href="http://gocardless.com">GoCardless Engineering</a> (<a href="http://github.com/gocardless/flow-demo-app"><%= I18n.t(:view_source) %></a>)
    </center>
  </footer>

</div>
